<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home</h1>

    <% if (cookies.username) { %>
        <h2>Welcome, <%= cookies.username %>!</h2>
        <p>Your email: <%= cookies.email %>
        </p>
        <% if (cookies.avatar) { %>
            <img src="<%= cookies.avatar %>" alt="Avatar" />
            <% } %>
                <p>Your role as a singer: <%= cookies.singer==='true' ? "Yes" : "No" %>
                </p> <!-- Kiểm tra giá trị singer -->
                <p><a href="/auth/logout">Logout</a></p>

                <% } else { %>
                    <h2>Welcome, Guest!</h2>
                    <p><a href="/auth/login">Login here</a></p>
                    <% } %>


</body>

</html>